<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @cook.cook_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @cook.image ,class:"item-box-img" %>
    </div>
    

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
<% if user_signed_in? && current_user.id == @cook.user_id %>
    <%= link_to "料理の編集", edit_cook_path(@cook.id) , method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", cook_path(@cook.id) , method: :delete, class:"item-destroy" %>
<% elsif user_signed_in? %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%= link_to "レビューを書く", "#" ,class:"item-red-btn"%>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
<% end %>


    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= "料理説明" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @cook.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">国名🌍</th>
          <td class="detail-value"><%= @cook.country.name %></td>
        </tr>
        <tr>
          <th class="detail-item">量</th>
          <td class="detail-value"><%= @cook.serving.name %></td>
        </tr>
        <tr>
          <th class="detail-item">材料</th>
          <td class="detail-value"><%=  @cook.material %></td>
        </tr>
        <tr>
          <th class="detail-item">レシピ</th>
          <td class="detail-value"><%= @cook.recipe %></td>
        </tr>
        
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
<% if user_signed_in? %>
  <div class="comment-box">
   <%= form_with model: [@cook, @review], local: true do |f|%>
   <%= f.label :comment, "レビュー" %><br />
        <%= f.collection_select(:star_id, Star.all, :id, :name , {}, {class:"select-box", id:"item-category"}) %>
    
      <div class="field">
              <%= f.text_area :comment, id:"comment_content",class: :comment_text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
    
      </div>
  <% end %>
  
  <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @reviews.each do |review| %>
          <li class="comments_list">
          <%= review.star.name %>
            </li>
            <li class="comments_list">
             <%= review.comment %>
              <%= link_to review.user.nickname, user_path(review.user_id), class: :comment_user %>
            </li>
            <% end %>
            </ul>
             <% end %>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="#" class="another-item"><%= @cook.country.name %>をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

<%= render "shared/footer" %>
